* {
    box-sizing: border-box;
}

:root {
    --color-background: #ffffff;
    --color-background-dark: #2F303A;
    --color-background-light: #f5f4fa;
    --color-brand: #2196F3;
    --color-primary: #757575;
    --color-secondary: #212121;
    --color-inverted: #ffffff;
    --color-social-icons: #afb1b8;
    --input-border: rgba(33, 33, 33, 0.2);
}

/* Body */
body {
    color: var(--color-primary);
    background-color: var(--color-background);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}

header {
    border-bottom: 1px solid #ECECEC;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* Header */
.header-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 50px;
}

.header-container__nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 93px;
}

/* Logo */
.header-container__nav a {
    display: block;
}

.header-container__logo-link {
    padding: 24px 0;
}

.header-container__logo-accent {
    color: var(--color-brand);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    list-style: none;
}

.header-container__logo {
    color: #000000;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    list-style: none;
}

/* Header */
.header-container__menu {
    display: flex;
    gap: 50px;
}

.header-container__nav-contacts {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 344px;
}

.header-container__list {
    position: relative;
}

/* .current-link:hover::after {
    opacity: 1;
} */

.header-container__link {
    color: var(--color-secondary);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style: none;
    padding: 32px 0;
    transition: opacity 250ms cubic-bezier(0.4,
            0,
            0.2,
            1), visibility 250ms cubic-bezier(0.4,
            0,
            0.2,
            1);
    transition-property: color;
}

.header-container__link:hover {
    color: var(--color-brand);
    text-decoration: none;
}

.header-container__link:focus {
    color: var(--color-brand);
    text-decoration: none;
}

.current-link {
    color: var(--color-brand);
}

.current-link::after {
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    background-color: var(--color-brand);
    border-radius: 2px;
    transition: opacity 250ms;
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
}

.header-container__contact-link {
    color: var(--color-primary);
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin: auto;
    padding: 32px 0;
    display: flex;
    align-items: center;
    transition: opacity 250ms cubic-bezier(0.4,
            0,
            0.2,
            1), visibility 250ms cubic-bezier(0.4,
            0,
            0.2,
            1);
    transition-property: color;
}

.header-container__contact-link:hover {
    color: var(--color-brand);
    text-decoration: none;
}

.header-container__contact-link:focus {
    color: var(--color-brand);
    text-decoration: none;
}

.header-container__envelope {
    display: flex;
    align-items: center;
    justify-content: baseline;
    fill: var(--color-primary);
    margin-right: 10px;
    transition: opacity 250ms cubic-bezier(0.4,
            0,
            0.2,
            1), visibility 250ms cubic-bezier(0.4,
            0,
            0.2,
            1);
    transition-property: fill;
}

.header-container__contact-link:hover .header-container__envelope {
    fill: var(--color-brand);
}

.header-container__contact-link:focus .header-container__envelope {
    fill: var(--color-brand);
}

.header-container__smartphone {
    display: flex;
    align-items: center;
    justify-content: baseline;
    fill: var(--color-primary);
    margin-right: 10px;
    transition: opacity 250ms cubic-bezier(0.4,
            0,
            0.2,
            1), visibility 250ms cubic-bezier(0.4,
            0,
            0.2,
            1);
    transition-property: fill;
}

.header-container__contact-link:hover .header-container__smartphone {
    fill: var(--color-brand);
}

.header-container__contact-link:focus .header-container__smartphone {
    fill: var(--color-brand);
}

/* Hero */
.section-hero {
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--color-background-dark);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero-background.jpg');
    background-repeat: no-repeat;
    background-size: 1600px;
    background-position: center;
}

.hero-container {
    display: inline-block;
    align-items: center;
    justify-content: space-between;
}

.hero-title {
    color: var(--color-inverted);
    background-color: var(--color-secondary-background);
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    padding-bottom: 0px;
    margin-bottom: 30px;
    max-width: 696px;
}

.primary-button {
    color: var(--color-inverted);
    background-color: var(--color-brand);
    border: 0;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 10px;
    margin: 0 auto;
    transition: opacity 250ms cubic-bezier(0.4,
            0,
            0.2,
            1), visibility 250ms cubic-bezier(0.4,
            0,
            0.2,
            1);
    transition-property: color, background-color;
}

.primary-button:hover {
    color: var(--color-inverted);
    background-color: #188ce8;
}

.primary-button:focus {
    color: var(--color-inverted);
    background-color: #188ce8;
}

/* .primary-button:active {
} */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Section Наші переваги */
.list-advantages {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.advantages-icon {
    /* width: 270; */
    height: 120px;
    background-color: var(--color-background-light);
    border-radius: 4px;
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25 100;
}

.list-subtitle {
    width: 270px;
    /* flex-basis: calc((100% - 90px) / 4); */
    color: var(--color-secondary);
    font-family: 'Roboto', inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.list-text {
    width: 270px;
    /* flex-basis: calc((100% - 90px) / 4); */
    color: var(--color-primary);
    font-family: 'Roboto', inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

/* Section Чим ми займаємось */
.section {
    padding-bottom: 94px;
    padding-top: 94px;
    width: 100%;
}

.no-top-padding {
    padding-bottom: 94px;
    padding-top: 0;
}

.list-title {
    color: var(--color-secondary);
    font-family: 'Roboto', inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
}

.list-our-business {
    display: flex;
    gap: 30px;
}

.cases {
    position: relative;
}

/* padding 10 мінімальний щоб не прижималось до країв */
.cases-text {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 10px;
    width: 100%;
    height: 70px;
    color: var(--color-inverted);
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Section Наша команда */
.list-our-team {
    display: flex;
    gap: 30px;
}

.section-headline-ourteam {
    background-color: var(--color-background-light);
    padding-bottom: 94px;
    padding-top: 94px;
}

.team {
    padding: 30px;
    background-color: var(--color-background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.list-headline {
    color: var(--color-secondary);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.headline-text {
    color: var(--color-secondary);
    font-family: 'Roboto', inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.social-icons-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons-sublist {
    height: 44px;
    width: calc(100%/4 - 10px/4*3);
    fill: var(--color-background);
    cursor: pointer;
    margin-right: 10px;
}

.link-social-icons {
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: none;
    padding: 12px 12px;
    transition: opacity 250ms cubic-bezier(0.4,
            0,
            0.2,
            1), visibility 250ms cubic-bezier(0.4,
            0,
            0.2,
            1);
    transition-property: background-color;

}

.link-social-icons:last-child {
    margin-right: 0;
}

.link-social-icons:hover {
    background-color: var(--color-brand);
}

.link-social-icons:hover .soc-icons {
    fill: var(--color-inverted);
}

.link-social-icons:focus {
    background-color: var(--color-brand);
}

.link-social-icons:focus .soc-icons {
    fill: var(--color-inverted);
}

.soc-icons {
    fill: var(--color-social-icons);
    transition: opacity 250ms cubic-bezier(0.4,
            0,
            0.2,
            1), visibility 250ms cubic-bezier(0.4,
            0,
            0.2,
            1);
    transition-property: fill;
}

/* Постійні клієнти */
.clients-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients-sublist {
    width: calc(100%/6 - 30px/6*5);
    height: 92px;
}

.clients-sublist-link {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms cubic-bezier(0.4,
            0,
            0.2,
            1), visibility 250ms cubic-bezier(0.4,
            0,
            0.2,
            1);
    transition-property: border-color;
}

.clients-sublist-link:last-child {
    margin-right: 0;
}

.clients-sublist-link:hover {
    border-color: var(--color-brand);
}

.clients-sublist-link:hover .icon {
    fill: var(--color-brand);
}

.clients-sublist-link:focus {
    border-color: var(--color-brand);
}

.clients-sublist-link:focus .icon {
    fill: var(--color-brand);
}

.icon {
    fill: var(--color-social-icons);
    transition: opacity 250ms cubic-bezier(0.4,
            0,
            0.2,
            1), visibility 250ms cubic-bezier(0.4,
            0,
            0.2,
            1);
    transition-property: fill;

}

/* Footer */
.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-address {
    margin-right: 70px;
}

span>.logo-accent,
span>.logo-white {
    margin-bottom: 20px;
}

.logo-footer {
    display: block;
    color: var(--color-inverted);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    list-style: none;
    margin-bottom: 20px;
}

.li-margin {
    margin-bottom: 9px;
}

.logo-white {
    color: var(--color-inverted);
}

.footer {
    background-color: var(--color-background-dark);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-accent {
    color: var(--color-brand);
    font-family: 'Raleway', inherit;
    ;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.address {
    color: var(--color-inverted);
    font-family: 'Roboto', inherit;
    ;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    list-style: none;
    transition: opacity 250ms cubic-bezier(0.4,
            0,
            0.2,
            1), visibility 250ms cubic-bezier(0.4,
            0,
            0.2,
            1);
    transition-property: color;
}

.address:hover {
    color: var(--color-brand);
    text-decoration: none;
}

.address:focus {
    color: var(--color-brand);
}

.address-contact {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto', inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    list-style: none;
    transition: opacity 250ms cubic-bezier(0.4,
            0,
            0.2,
            1), visibility 250ms cubic-bezier(0.4,
            0,
            0.2,
            1);
    transition-property: color;
}

.address-contact:hover {
    color: var(--color-brand);
    text-decoration: none;
}

.address-contact:focus {
    color: var(--color-brand);
}

.social-media-container {
    margin-right: 93px;
}

.social-media-title {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-inverted);
}

.social-media-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social-media-icons {
    /* display: flex;
    justify-content: center;
    align-items: baseline; */
    width: calc(100%/4 - 10px/4*3);
    height: 44px;

    fill: var(--color-background);
    cursor: pointer;
}

.social-media-icon-link {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 12px 12px;
    transition: opacity 250ms cubic-bezier(0.4,
            0,
            0.2,
            1), visibility 250ms cubic-bezier(0.4,
            0,
            0.2,
            1);
    transition-property: background-color;
}

.social-media-icon-link:hover {
    background-color: var(--color-brand);
}

.social-media-icon-link:focus {
    background-color: var(--color-brand);
}

.footer-icon {
    fill: var(--color-inverted);
}

/* Form */
.subscription-title {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-inverted);
}

.contact-form {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .contact-form-footer {
    margin-left: auto;

} */

.form-label-footer {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 12px;
}

.form-input-footer {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 358px;
    height: 50px;
    padding: 15px 16px 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    transition: opacity 250ms cubic-bezier(0.4,
            0,
            0.2,
            1),
        visibility 250ms cubic-bezier(0.4,
            0,
            0.2,
            1);
    transition-property: border-color;
}

.form-input-footer:focus {
    border-color: var(--color-brand);
}

.form-input-footer:hover {
    border-color: var(--color-brand);
}

.form-button-icon {
    margin-left: 10px;
}

.subscription-container {
    margin-right: 93px;
}

/* Modal */
.backdrop {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4,
            0,
            0.2,
            1), visibility 250ms cubic-bezier(0.4,
            0,
            0.2,
            1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* Modal */
.modal {
    display: block;
    position: absolute;
    width: 528px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-background);
    /* justify-content: center;
    align-items: center;
    align-content: stretch; */
    padding: 40px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-close-button {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* color: black; */
    padding: 6px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    background-color: var(--color-background);
}

.modal-close-icon {
    fill: black
}

.modal-close-button:focus {
    color: var(--color-brand);
}

.modal-close-button:focus-within .modal-close-icon {
    fill: var(--color-brand);
}

.modal-close-button:hover {
    color: var(--color-brand);
}

.modal-close-button:hover .modal-close-icon {
    fill: var(--color-brand);
}

.modal-title {
    color: var(--color-secondary);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    font-size: 20px;
}

.modal-title,
.contact-form,
.form-label,
.form-input,
.form-icon {
    display: block;
}


.form-label {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--color-primary);
    margin-bottom: 10px;
    width: 100%;
}

.form-control {
    position: relative;
    display: block;
    margin-top: 4px;
}

.textarea {
    width: 100%;
    resize: none;
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    height: 40px;
    padding: 12px 16px 12px 42px;
    margin-top: 4px;
    /* padding-right: 12px; */
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.1em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: border-color 250ms, cubic-bezier(0.4,
            0,
            0.2,
            1);
}

.form-input:focus {
    border-color: var(--color-brand);
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: var(--color-secondary);
    transition: fill 250ms, cubic-bezier(0.4,
            0,
            0.2,
            1);
}

.form-control:focus-within .form-icon {
    fill: var(--color-brand);
}

/* Інший варінт щоб іконка змінювала філ при фокусі */
/* .form-input:focus+.form-icon {
    fill: var(--color-brand);
} */

.form-textarea {
    height: 120px;
    width: 100%;
    resize: none;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    padding: 12px 16px;
    outline: none;
    cursor: pointer;
}

.form-textarea:focus {
    border-color: var(--color-brand);
}

/* Checkbox */
.checkbox-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
}

.checkbox-custom-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 16px;
    height: 15px;
    margin-right: 8px;
    border: 1.5px solid var(--color-secondary);
    border-radius: 2px;
    cursor: pointer;
    transition: background 250ms;
    cubic-bezier(0.4,
        0,
        0.2,
        1),
    border-color 250ms;
    cubic-bezier(0.4,
        0,
        0.2,
        1);
}

.checkbox-label {
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: baseline;
    text-align: center;
}

/* .checkbox-icon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 15px;
    border: 1px solid var(--color-secondary);
    border-radius: 2px;
}

.checkbox-icon::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 15px;
    border-radius: 2px;
    background-image: url(../images/icon\ check.svg);
    background-color: var(--color-brand);
    opacity: 0;
} */

.checkbox-input:checked+.checkbox-custom-box {
    border-color: transparent;
    background-color: var(--color-brand);
}

.checkbox-terms {
    text-decoration: underline;
    letter-spacing: 0.03em;
    color: var(--color-brand);
}

/* Portfolio */
.portfolio {
    border-bottom: 1px solid #ececec;
}

.list-button {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 50px;
}

.button {
    color: var(--color-secondary);
    background-color: var(--color-background-light);
    border: 0;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    padding: 6px 22px;
    border-radius: 4px;
    transition: opacity 250ms cubic-bezier(0.4,
            0,
            0.2,
            1), visibility 250ms cubic-bezier(0.4,
            0,
            0.2,
            1);
    transition-property: color, background-color, bax-shadow;
}

.button:hover {
    color: var(--color-inverted);
    background-color: var(--color-brand);
    border: 0;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.button:focus {
    color: var(--color-inverted);
    background-color: var(--color-brand);
    border: 0;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

/* .button:active {
} */
.list-images {
    /* display: block;
    justify-content: center;
    align-items: center; */
}

.project {
    flex-wrap: wrap;
    width: calc(100%/3 - 30px/3*2);
    /* display: block;
    justify-content: center;
    align-items: center; */
}

.project-link {
    display: block;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms cubic-bezier(0.4,
            0,
            0.2,
            1), visibility 250ms cubic-bezier(0.4,
            0,
            0.2,
            1);
    transition-property: box-shadow, transform;
}

.project-link:hover {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-image {
    position: relative;
    overflow: hidden;
}

.tagline {
    color: var(--color-secondary);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.list-images {
    display: flex;
    flex-wrap: wrap;
    /* flex-basis: calc((100% - 60px) / 3); */
    gap: 30px;
    /* padding-bottom: 30px; */
}

.images-text {
    display: block;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 20px 24px;
    margin: auto 0;

}

.project-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--color-primary);
}

.project-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);
    transition: opacity 250ms cubic-bezier(0.4,
            0,
            0.2,
            1), visibility 250ms cubic-bezier(0.4,
            0,
            0.2,
            1);
    transition-property: transform;
}

.project-description-text {
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    color: var(--color-inverted);
    padding: 24px;
    height: 100%;
    display: flex;
    align-items: center;
}

.project-link:hover .project-description {
    transform: translateY(0);
}

.project-link:focus .project-description {
    transform: translateY(0);
}