.social-media-container {
    margin-right: 93px;
}

.social-media-container__title {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-inverted);
}

.social-media-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social-media-list__icons {
    width: calc(100%/4 - 10px/4*3);
    height: 44px;

    fill: var(--color-background);
    cursor: pointer;
}

.social-media-list__link {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 12px 12px;
    transition: opacity 250ms cubic-bezier(0.4,
            0,
            0.2,
            1), visibility 250ms cubic-bezier(0.4,
            0,
            0.2,
            1);
    transition-property: background-color;
}

.social-media-list__link:hover {
    background-color: var(--color-brand);
}

.social-media-list__link:focus {
    background-color: var(--color-brand);
}

.social-media-list__icon {
    fill: var(--color-inverted);
}